body,
body * {
box-sizing: border-box;
margin: 0;
padding: 0;
}
.container{
    display: inline-block;
    width: 800px;
    margin-left: calc(50% - 400px);
    margin-top: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.left-column{
    float: left;
    width: 50%;
    margin-left: 5%;
}
.title{
    color:gray;
    font-size:700%;
    margin-top: 0.25em;
    margin-bottom: 20px;
}
.description{
    color:gray;
    font-size:200%;
    line-height: 1em;
    margin-bottom: 1em;
}
.list-label{
    margin-bottom: 20px;
}
.menu-left-column,
.menu-right-column{
    float: left;
    width: 50%;
}
.menu-item{
    text-decoration: none;
    display: inline-block;
    color: red;
}

.menu-item:hover{
    text-decoration: underline ;
}
.right-column{
    float:left;
    width:30%;
    margin-left: 5%;
}